# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = crlf
#https://stackoverflow.com/questions/68227746/can-i-force-a-non-exhaustive-c-sharp-switch-expression-to-cause-a-compile-error
dotnet_diagnostic.CS8509.severity = error
#dotnet_diagnostic.CS8524.severity = none

#CS0168: The variable ... is declared but never used
dotnet_diagnostic.CS0168.severity = none

#CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none
#CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none
#CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
#CS8603: Possible null reference return...
dotnet_diagnostic.CS8603.severity = none
#CS8604: Possible null reference argument for parameter...
dotnet_diagnostic.CS8604.severity = none
#CS8618: Non-nullable field ... must contain a non-null value when exiting constructor. Consider declaring the field as nullable.
dotnet_diagnostic.CS8618.severity = none
#CS8619: Nullability of reference types in value of type ... doesn't match target type ...
dotnet_diagnostic.CS8619.severity = none
#CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = none
#CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# Primary constructor preferences
csharp_style_prefer_primary_constructors = false:error

[*.{cs,fs}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.csproj]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[.dockerignore]
end_of_line = lf
